.mainBase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 1.8rem;
    font-weight: 500;
}

.local, .data {
    width: 80%;

}

.container {
    width: 100%;
    display: flex;
 
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 10rem;
    height: 2.7rem;
    margin: 2rem 1rem 0 0;
}

.checkmark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F3F1F0;
    border: solid 1px #FE662E;
    border-radius: 5px;
}



.container input:checked  ~ .checkmark{
    background-color: #FEBBA2;
    border: solid 3px #FE662E;
}

strong {
	position: absolute;
	z-index: 4;
    font-weight: 500;
}

.data p {
    margin: 1.5rem 0;
}
#andar {
    display: none;
}

.footerBase {
    justify-content: flex-end;
}
