@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif; font-weight: 400; text-decoration: none;}

body {
    position: relative;
}

.btnSair {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #FE662E;
    font-size: 1.5rem;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogo {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 5vh;
    margin-bottom: .4rem;
}

.text {
    font-weight: 600;
    font-size: 1.2rem;
    color: #FE662E;
}

main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem 10%;
}


.titulo {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.linkInter {
    width: 48%;
    height: 100%;
    border-radius: 10px;
    border: #FE662E solid 2px;
}

.link1 {
    background-image: url(../img/Card_-_Nova_Reserva.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.link2 {
    background-image: url(../img/Card_-_Ver_reservas.svg);
    background-size: cover;
    background-position: center;
}

.btn {
    display: none;
}

.t1 {
    font-size: 2.25rem;
    color: #FE662E;
}

.btn:active, .t1:active {

    transform: scale(.9, .9);
    transition: .1s;
    opacity: .9;
}


