@media screen and (max-width: 540px) {
    .box {
        font-size: .9rem;
    }

    .logo {
        visibility: hidden;
    }
}

@media screen and (max-width: 470px) {
    .box {
        font-size: .8rem;
    }
}

@media screen and (max-width: 440px) {
    main {
        padding: 0;
        align-items: center;
    }
    
    .containerMaster {
        display: none;
    }

    .containerResponsivo, .boxResponsivo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerResponsivo{
        width: 95%;
        height: 30%;
        border: solid 1px #FE885C;
        border-radius: 8px;
        background-color: #F3F1F0;
        margin: 1rem 0 0 2.5%;
    }
    
    .boxResponsivo {
        flex-direction: column;
        width: 65%;
        height: 100%;
    
    }
    
    .mesaCadeira, .localResponsivo, .data {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .localResponsivo {
        height: 34%;
    }
    
    .localResponsivo p {
        font-size: 1.1rem;
        text-align: center;
    }
    .mesaCadeira {
        flex-direction: column;
        height: 66%;
    }

    .mesaCadeira p {
        font-size: 1.2rem;
    }
    .data {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    
    .datain {
        font-weight: 700;
        margin-bottom: .5rem;
    }
    
    .d2 {
        font-size: 2rem;
    }

    .cancResponsivo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
    }

    .btncancResponsivo {
        color: red;
        font-weight: bold;
        margin-right: 1rem;
        border: none;
    }

    footer {
        justify-content: center;
    }

    footer a {
        font-size: .7rem;

    }
}

@media screen and (max-width: 400px) {

    .logo {
        width: 10%;
    }

    .fa-arrow-alt-circle-left {
        font-size: 1.6rem;
    }

    .mesaCadeira p {
        font-size: 1rem;
    }

    .datain {
        font-size: .9rem;
    }

    .d2 {
        font-size: 1.5rem;
    }
}